body {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 0 auto;
}

  
h1, h2 {
    font-family: Georgia, serif;
    text-align: center;
}
  
h1 {
    font-size: 3em;
    text-align: center;
}
  
legend {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}
  
label {
    font-weight: bold;
    display: block;
}
  
input:hover, select:hover {
    background-color: red;
}
  
#boton-crear {
    font-size: 2em;
    padding: 0.5em;
}
  
.inline {
    display: inline;
}

.middle {
    text-align: center;
}